@using StockApp.Core.Application.ViewModel.Products;
@model StockApp.Core.Application.ViewModel.Products.SaveProductViewModel
@{
    bool isEditMode = Model.id > 0 ? true : false;
}

<div>
    <form method="post" asp-controller="Home" asp-action="@(isEditMode ? "Edit" : "Create")">
       
        <div class="mb-5 mt-5">
            <label asp-for="productName">
                product name
            </label>
            <input type="text" asp-for="productName"/>
            <span asp-validation-for="productName" class="text-danger"></span>
        </div>

        <div class="mb-5 mt-5">
            <label asp-for="productPrice">
                product price
            </label>
            <input type="number" asp-for="productPrice" />
            <span asp-validation-for="productPrice" class="text-danger"></span>
        </div>

        <div class="mb-5 mt-5">
            <label asp-for="productImg">
                product img url
            </label>
            <input type="text" asp-for="productImg" />
            <span asp-validation-for="productImg" class="text-danger"></span>
        </div>

        <div class="mb-5 mt-5">
            <label asp-for="productDescription">
                product description
            </label>
            <textarea asp-for="productDescription"></textarea>
            <span asp-validation-for="productDescription" class="text-danger"></span>
        </div>

        <div class="mb-5 mt-5">
            <label asp-for="categoryId">
                product description
            </label>
            <select asp-for="categoryId">
                <option value="1">
                    1
                </option>
            </select>
            <span asp-validation-for="categoryId" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="id" />

        <button type="submit">submit</button>
        <a asp-controller="Home" asp-action="Index"> go home</a>

    </form>
</div>